@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: normal;
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url('http://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWT4uEYibrpkZEVqIBGCuec4.woff') format('woff');
}
